# Large Binaries (> 100MB GitHub limit)
*.apk
*.aab
*.zip
*.tar.gz
*.ipa
Al-Waqt-App.apk

# Flutter & Dart Build Artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/doc/api/

# IDE & Editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS & Temp files
.DS_Store
Thumbs.db
*.log
*.tmp
