<section class="events-countdown-section">
    <div class="countdown-card ramadhan-card">
        <div class="event-icon-box">
            <i class="fa-solid fa-moon"></i>
        </div>
        <div class="event-info">
            <div class="event-tag">BULAN SUCI</div>
            <h4 class="event-title" id="ramadhanTitle">1 Ramadhan</h4>
            <div class="event-masehi-row">
                <i class="fa-regular fa-calendar-check"></i>
                <span id="ramadhanMasehiDate">Estimasi Masehi: Memuat...</span>
            </div>
        </div>
        <div class="event-counter-box">
            <div class="counter-number" id="ramadhanDaysCount">--</div>
            <div class="counter-unit">HARI LAGI</div>
        </div>
    </div>

    <div class="countdown-card idulfitri-card">
        <div class="event-icon-box">
            <i class="fa-solid fa-star-and-crescent"></i>
        </div>
        <div class="event-info">
            <div class="event-tag">HARI RAYA</div>
            <h4 class="event-title" id="idulFitriTitle">Idul Fitri (1 Syawal)</h4>
            <div class="event-masehi-row">
                <i class="fa-regular fa-calendar-check"></i>
                <span id="idulFitriMasehiDate">Estimasi Masehi: Memuat...</span>
            </div>
        </div>
        <div class="event-counter-box">
            <div class="counter-number" id="idulFitriDaysCount">--</div>
            <div class="counter-unit">HARI LAGI</div>
        </div>
    </div>
</section>
